@using ObscureCalculator6.Models
@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Obscure Calculator</h1>
    <p class="lead">A service for converting useful data into obscurity.</p>
</div>

<form method="post">
    <fieldset>
        <div class="row">
            <div class="col-md-4">
                <h2>Calculate fortnight</h2>
                <p>Convert days to fortnights</p>
                <p><input type="number" name="daysToFortnight" value="@Request.Form["daysToFortnight"]"></p>
                @Html.ValidationMessage("daysToFortnight")
            </div>
            <div class="col-md-4">
                <h2>Calculate furlong</h2>
                <p>Convert miles to furlongs</p>
                <p><input type="number" name="milesToFurlongs" value="@Request.Form["milesToFurlongs"]"></p>
                @Html.ValidationMessage("milesToFurlongs")
            </div>
            <div class="col-md-4">
                <h2>Calculate stone's throw</h2>
                <p>Convert feet to stone's throws</p>
                <p><input type="number" name="feetToThrows" value="@Request.Form["feetToThrows"]"></p>
                @Html.ValidationMessage("feetToThrows")
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" a class=" btn btn-primary btn-lg" value="Submit" runat="server" onServerClick="CalculateMeasurements">
            </div>
        </div>
    </fieldset>
</form>


@{
    if (IsPost)
    {

        ConversionCalculator calc = new ConversionCalculator();

        int daysToFortnight = calc.CalculateFortnight(Request.Form["daysToFortnight"].AsInt());
        double milesToFurlongs = calc.CalculateFurlong(Request.Form["milesToFurlongs"].AsFloat());
        int feetToThrows = calc.CalculateStonesThrow(Request.Form["feetToThrows"].AsInt());



        <text>
            <br />
            <h3> @daysToFortnight fortnights </h3>
            <br />
            <h3> @milesToFurlongs furlongs </h3>
            <br />
            <h3> @feetToThrows stone's throws </h3>
            <br />
        </text>
    }
}
